


h1 {


color: brown;
text-align: center;
font-family: 'Courier New', Courier, monospace;


}

h2 {

color: darkgreen;
margin-top: 50px;
text-align: center;



}


div {

    text-align: center;
    margin: 100px;
}